@{
    ViewData["Title"] = "Home Page";
}

@using DAY2.Models;

<figure class="text-center">
<div>
<h1>First Name: @Model.FirstName</h1>
<br>
<h1>Middle Name: @Model.MiddleName</h1>
<br>
<h1>Last Name: @Model.LastName</h1>
<br>
<h1>Age: @Model.Age</h1>
</div>
</figure>